@page "/Vehiculo"
@using Data.Models;

<PageTitle>Lista de Vehículos</PageTitle>
<h1>Vehículos</h1>
 
 <div class="Container"></div>
 <table>
    <thead>
<tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Precio</th>
    
</tr>
    </thead>
 </table>
 <tbody></tbody>